<div class="col-md-6 col-md-offset-3">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @message.title %>
  </p>

  <p><%= time_ago_in_words(@message.created_at) %> ago</p>

  <p>
    <strong>Description:</strong>
    <%= @message.description %>
  </p>
  <h3>Comments:</h3>

      <p><%= render @message.comments %></p>




  <h3>Join Discussion:</h3>
  <%= render 'comments/form' %>
<% if user_signed_in?  %>
  <% if @message.user_id == current_user %>
    <%= link_to 'Edit', edit_message_path(@message), class: "btn btn-success" %> |
  <% end %>
<% end %>  
  <%= link_to 'Back', messages_path, class: "btn btn-info" %>
</div>
