<div class="col-md-6 col-md-offset-3">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @message.title %>
  </p>

  <p><%= time_ago_in_words(@message.created_at) %> ago</p>

  <p>
    <strong>Description:</strong>
    <%= @message.description %>
  </p>

  <%= link_to 'Edit', edit_message_path(@message) %> |
  <%= link_to 'Back', messages_path %>
</div>
